body {
    margin: 0;
    background-image: url(image/bg-image.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family:Georgia, 'Times New Roman', Times, serif
}

h1 {
    text-align: center;
}
.container {
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-tabs {
    display: flex;
    border-bottom: 1px solid lightgrey;
    position: relative;
}

.task-tabs div {
    padding: 1em;
    cursor: pointer;
    
}

.task-area {
    border: 1px solid lightgrey;
}

#under-line {
    height: 4px;
    width: 0;
    background-color: pink;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    transition: 0.5s;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 10px;    
}

.task-content {
    width: 75%;
}

input {
    width: 75%;
    height: 60px;
    border: none;
    padding-left: 10px;
}

.task-done {
    text-decoration: line-through;
    background-color:lightgray;
}

button {
    border: 0;
    background-color: unset;
    padding: 0px 20px;
}

#add-button {
    color:chocolate;
    font-size: 22px;
}

#check-button {
    color:aqua;
}

#reload-button {
    color:gray;
}

#delete-button {
    color: red;
}
